{% extends "cart/base.html" %}
{% load static %}
{% block title %}
    Корзинка
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Фотография</th>
            <th scope="col">Продукт</th>
            <th scope="col">Количество</th>
            <th scope="col">Удалить</th>
            <th scope="col">Цена за штуку</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.jpg" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Сумма</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="text-right">
        <a href="{% url "shop:products_list" %}">
            <button class="btn btn-secondary btn-lg">К товарам</button>
        </a>
        <a href="#" class="button">
            <button type="button" class="btn btn-info btn-lg">Заказать</button>
        </a>
    </div>
{% endblock %}