* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* System style */
body {
    background-color: rgba(255, 255, 255, 0.66);
}

header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px 40px;
}

section, footer, .fixed-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

a {
    color: black;
    text-decoration: None;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: #198653;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}
p {
    font-size: 20px;
}



/* Other style */
.menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.info a:not(:first-child) {
    margin-left: 20px;
}

.order button {
    margin-left: 15px;
}

{% load static %}
.first-block {
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 400px;
    padding-bottom: 40px;
}

.profile button {
    background-color: rgba(252, 196, 0, 0);
    color: white;
    border: 1px solid #198653;

}

.profile > p {
    margin: 20px 0;
}

.services-block {
    display: flex;
    margin: 25px 0 30px;
    justify-content: space-between;
}

.services-block > div {
    max-width: 200px;
}

.services-block > div > img {
    width: 200px;
    height: 150px;
}

/* Третьи блок */
.third-block h2, .third-block p {
    width: 50%;

}

.example {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 30px;
}

.example > div {
    flex: 1 1 250px;
    min-width: 220px;
    max-width: 300px;
}

.example > div > img {
    width: 100%;

}

/* Четвертый блок */

.price_section {
    max-width: 100%;
    background-color: #198653;
    color: white;

}

.price {
    width: 50%;
}

.price p, .price h2 {
    margin-top: 16px;
}
/* Last block */

.end-block {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: column;
}

.bottom > a, .bottom > p, .bottom > button {
    margin-bottom: 10px;
}

.media > img {
    height: 30px;
}

/*Pop-up window*/

.popup-window {
    position: fixed;
    display: None;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-form {
    min-width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5%;
    background-color: white;
}